/*GENERAL*/

@import "./base/loader";
@import "./base/base";
@import "./pages/search-city";
@import "./pages/search-infos";
@import "./pages/ordering-method";
@import "./pages/restaurant-list";
@import "./menu/logo-menu";
@import "./menu/image-menu";
@import "./menu/menu-list";
@import "./layouts/footer";




