@use "../utils/hover-transform";


header{
    display: flex;
    align-items: center;
    padding: 15px;

    
    h1 {
        font-family: 'Sonsie One', cursive;
        margin: 5px auto;
    }

    i{
        font-size: larger;
        margin-left: 30px;
        color: black;

        &:hover {
            @include hover-transform.transform;
        }
    }
}


