@use "../utils/_hover-transform";
@use "../utils/_shadow";



.ordering-method{
    background-color:var(--lightgrey);
    padding:  30px;
    
    h2{
        margin-bottom: 0;
    }
}

.ordering-steps{
    display: flex;
    gap: 30px;
    padding-left: 15px;
    margin: 0;
    
    @media (max-width: 916px){
        flex-direction: column;
    }
    
    

    a {
        text-decoration: none;
        list-style-type: none;
        padding: 20px 15px;
        background-color: var(--lightblue);
        color: rgb(48, 46, 46);
        border-radius: 15px;
        flex-grow: 1;
        @include shadow.box-shadow;
        font-weight: bold;
        cursor: pointer;   

        i.fas{
            margin-right: 10px;
        }
    }
    a:hover{
        background-color: var(--lightgreen);   
    }   
}