@use "../utils/linear-gradient";
@use "../utils/_shadow";
@use "../utils/hover-transform";

.house-list{
    background-color: var(--lightgrey);
    padding: 30px;
    .first-title {
        border: none;
    }

    h2 {
        font-family: 'Sonsie One', cursive;
        margin: 20px;
        
        
    }
    p {
        padding: 0 20px;
    }

    .house-card-list{
        display: flex;
        flex-wrap: wrap;
        margin: 20px 0 50px 0;
        gap: 20px;

        p {
            margin: 20px;
            
        }
        

        .house-card {
            flex-basis: 45%;
            background-color: white;
        }

        .villa-card {
            flex-basis: 20%; 
        }

        
    
        .house-card, .villa-card {
            display: flex;
            flex-direction: column; 
            border-radius: 20px;
            flex-grow: 1; 
            text-decoration: none;

            @media(max-width:768px) {
                flex-basis: 100%;  
            }
            
            .villa {
               
                 
                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                    max-height: 300px;
                    border-radius: 15px;
                }    
            }

            .image {
                position: relative;
                width: 100%;
                height: 200px;
                border-radius: 20px 20px 0 0;
                background-size: cover;
                background-position: center;

                span {
                    background-color: var(--lightgreen);
                    color: #288c74;
                    padding: 10px 15px;
                    border-radius: 2px;
                    position: absolute;
                    right: 15px;
                    top: 15px;
                    font-weight: bold;
                }
            }
            
            @for $i from 1 through 4 {
                .image#{$i} {
                    background-image: url(../images/#{$i}.jpg);

                }    
            }
            
           

            .card-details{
                position: relative;
                padding: 20px;

                h3, i, p{
                    margin: 0;
                    color: black;
                }

                h3{
                    margin-bottom: 15px;
                    &::first-letter{
                        text-transform: capitalize;
                    }
                }
                
                i{
                    position: absolute;
                    right: 20px;
                    top: 30%;
                    font-size: x-large;
                    color: black; 

                    &::before {
                        content: "\f004";    
                    }

                    &:hover {
                        font-weight: 900;
                        color: transparent;
                        @include linear-gradient.background-image;
                        background-clip: text;
                        -webkit-background-clip: text;
                        transition: all .5s ease-in-out;
                    }

                }
            
            }
        }  
    }

    .button {
        display: flex;
        align-self: center;
        width: 153px;
        margin: 0 auto;
        cursor: pointer;
        text-decoration: none;

        &:hover {
            @include hover-transform.transform;
        }

        p {
            padding: 15px 20px;
            color: white;
            font-weight: bold;
            border-radius: 30px;
            @include shadow.box-shadow;
            @include linear-gradient.background-image;
        }
    }
}





