.search-city{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    background-color: #e6e6e6;
    
    i{
        font-size: larger;
        padding-right: 10px;
    }
}