@keyframes fade {
    0% {
        transform: translateY(0);
        opacity: 0;
       
    }

    50% {
        transform: translateY(0);
        opacity: 0;
        
    }

    100% {
        transform: translateY(0);
        opacity: 1;
        
    }
}