@keyframes show {

    0% {
        transform: translateX(0%);
        transition: transform 0.5s ease-in-out; 
    }

    100% {
        transform: translateX(100%);
        transition: transform ease-in-out 0.3s;  
    }
}