footer {
    background-color: rgb(90, 82, 82);
    padding: 20px 30px;

    
    h1 {
        color: white;
        font-family: 'Sonsie One', cursive;
        padding: 0 10px;
    }

    p {
        color: white;
        padding: 0 10px;
    }

    i {
        margin-right: 5px;
    }

    .fa-hands-helping {
        font-size: x-small;
    }

    a {
        color: white;
        text-decoration: none;
        border-right: 3px solid white;
        padding: 0 10px;
        
    }

}
