footer {
    background-color: rgb(90, 82, 82);
    padding: 20px 30px;

    
    h1 {
        color: white;
        font-family: 'Sonsie One', cursive;
    }

    p {
        color: white;
    }

    i {
        margin-right: 5px;
    }

    .fa-hands-helping {
        font-size: x-small;
    }

    a {
        color: white;
        text-decoration: none;
        
    }

}
